
/* 기본 스타일 */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* 네비게이션 바 스타일 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

.navbar_menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar_menu li {
    margin-left: 20px;
}

/* 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

caption {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.write-link {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.write-link:hover {
    background-color: #0056b3;
}

/* 추가 스타일 */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* 하단 메뉴 스타일 */
.menubottom {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
}

.menubottom .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.menubottom .col {
    flex: 1;
    padding: 0 15px;
}

.menubottom h5 {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.menubottom ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menubottom ul li {
    margin-bottom: 10px;
}

.menubottom ul li a {
    color: #ffffff;
    text-decoration: none;
}

.menubottom ul li a:hover {
    text-decoration: underline;
}
